<%- include('header.ejs') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/contact">Aller sur le formulaire de contact</a></p>
    <p><a href="/messages/">Aller sur le tableau des messages</a></p>
    <p><a href="/messages/list">Aller sur la liste des messages</a></p>

<%- include('footer.ejs') %>